@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
.wrapper {
  @apply flex min-h-screen flex-col gap-4 bg-slate-50;
}

.main {
  @apply grow;
}

.main .container {
  @apply mx-auto;
}

/* component */

.navbar-list {
  @apply mx-4 grid grid-cols-4 gap-x-4 text-center md:mx-0;
}

.navbar-list a {
  @apply flex flex-col items-center;
}

.game-list {
  @apply mx-4 grid grid-cols-3 gap-x-2 gap-y-4 xl:grid-cols-9 xl:gap-4;
}

.game-list .game-icon {
  @apply rounded-xl bg-gray-100 shadow-lg;
}

.banner {
  background-color: #ffffff;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(
    45deg,
    #cdcdcd50 0,
    #cdcdcd50 0.6px,
    #ffffff10 0,
    #ffffff10 50%
  );
  text-align: center;
}

.banner .title {
  @apply text-center text-xs uppercase text-cyan-600;
}

/* header */
.site-navbar {
  @apply fixed bottom-0 z-50 w-full bg-lime-400;
}

.site-navbar .container {
  @apply mx-auto pt-2 pb-8 text-xs;
}

.site-navbar .icon {
  @apply relative h-6 overflow-hidden;
}

.site-footer {
  @apply mb-20 text-xs leading-5 text-slate-400;
}

.site-footer .container {
  @apply mx-auto border-t;
}

.site-footer p {
  @apply p-4 text-center;
}

/* home */

.home .section-title {
  @apply mx-4 mt-4 mb-2 flex font-bold text-cyan-600;
}

/* category */

.categories .page-title {
  @apply m-4 flex justify-center text-xl font-bold text-cyan-600;
}

.category-list {
  @apply m-4 grid gap-2;
}

.item-link {
  @apply flex justify-between rounded-lg border bg-white p-3;
}

.item-link .name,
.item-link .count {
  @apply flex items-center space-x-2;
}

.item-link svg {
  @apply h-5 w-5;
}

.item-link .count {
  @apply text-xs;
}

.count ul {
  @apply mr-1 flex -space-x-1;
}

.count .icon {
  @apply rounded-full border-2 border-white;
}

.count .number {
  @apply h-6 w-6 rounded-full bg-slate-200 text-center leading-6 text-slate-800;
}

.category .page-title {
  @apply m-4 flex items-center justify-center space-x-2 rounded-sm border bg-white p-3 font-bold text-cyan-600;
}

/* game */
.first-screen {
  @apply relative overflow-hidden bg-cyan-800/40 xl:mx-auto xl:max-w-3xl;
}

.first-screen .content {
  @apply relative z-10 mt-6 flex flex-col items-center;
}

.first-screen .game-title {
  @apply my-2 font-bold text-white drop-shadow;
}

.first-screen .bg {
  @apply absolute inset-0 z-0 h-full w-full object-cover opacity-50 blur-2xl;
}

.play-btn {
  @apply block rounded-lg bg-sky-500 px-6 py-4 font-bold text-white shadow-md shadow-black/10;
}

.breadcrumb {
  @apply m-4 space-x-2 text-sm;
}

.breadcrumb span {
  @apply text-gray-300;
}

.breadcrumb .current {
  @apply text-gray-400;
}

.description {
  @apply m-4 text-sm;
}

.description .title {
  @apply my-2 font-bold text-gray-600;
}

.game-detail .section-title {
  @apply mx-4 my-2 p-2 text-center font-bold text-cyan-600;
}

.recent .content {
  @apply m-4 flex flex-col items-center;
}

.recent .content p {
  @apply rounded-lg border p-4 text-sm text-slate-500;
}

.recent .back-home {
  @apply mx-4 mt-8 inline-block rounded-full bg-cyan-500 py-4 px-6 text-white shadow-lg;
}
